:host {

  #menu-list {
    display: flex;
    height: 100%;
    flex-direction: column;
  }

  #logout-btn {
    --padding-bottom: .75rem;

    ion-icon {
      padding-right: 1rem;
    }
  }

  .spacer {
    flex: 1;
  }
}
