<ion-app>
  <ion-split-pane contentId="main-content" [disabled]="true">
    <ion-menu contentId="main-content" type="overlay" side="end" [swipeGesture]="false">
      <ion-content>
        <ion-list id="menu-list">
          <ion-list-header>Welcome</ion-list-header>
          <div class="spacer"></div>
          <ion-menu-toggle auto-hide="false" (click)="onLogout()">
            <ion-item lines="none" detail="false" id="logout-btn">
              <ion-icon name="log-out-outline"></ion-icon>
              <ion-label>Logout</ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>


      </ion-content>
    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>
